body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background: linear-gradient(315deg, #8d8d8d 0%, #d8d8d8 74%);
    margin : 0;
  }
nav{
    background-color: rgb(2, 67, 87);
    font-family: sans-serif;
    padding: 30px 50px 40px 0px ;
}
nav a {
    color: white;
    font-family: sans-serif;
    padding: 40px 50px 40px 0px;
    text-decoration: none;
}
.tombol1:hover{
    background-color:rgb(2, 67, 87);
    color : white;
    font-size : 20px;
    transition-duration: 0.5s;
}
.tombol2:hover{
    background-color:rgb(2, 67, 87);
    color :white;
    font-size : 20px;
    transition-duration: 0.5s;
}
.tombol3:hover{
    background-color:rgb(2, 67, 87);
    color : white;
    font-size : 20px;
    transition-duration: 0.5s;
}
.tombol4:hover{
    background-color:rgb(2, 67, 87);
    color : white;
    font-size : 20px;
    transition-duration: 0.5s;
}
.content{
    display: flex;
    align-items: center;
}
.img{
    width: 100%;
    height: 400px;
    background-position : center;
    background-repeat : no-repeat;
    background-size : cover;
    text-align: center;
}
.img2{
    width: 20%;
    display: flex;
    padding: 0px 0px 0px 50px;
}
.img3{
    width: 40%;
    display: flex;
    padding: 0px 0px 0px 50px;
}
.img4{
    width: 40%;
    display: flex;
    padding: 0px 50px 0px 10px;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 50px;
}
.text{
    color : black;
    padding-left : 30px;
    padding-right : 30px;
}
.he1{
    padding-left: 50%;
}
footer {
    background-color: #3a3a3a;
    color: #fff;
    text-align: center;
    padding: 5px 0px 5px 0px;
    font-size: 20px;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
  }